<!DOCTYPE html>
<html>
  <head>
    <title>Floramo Web</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

    <link rel="stylesheet" href="css/application.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="green lighten-1">
        <div class="nav-wrapper container">
          <a href="#!" class="brand-logo">
            <i class="fa fa-leaf"></i>
            Floramo Web
          </a>
        </div>
      </nav>
    </div>

    <div class="container main">
      <%= yield %>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/4e09fda279.js"></script>
  </body>
</html>
