<form action="/users/password" method="POST">
  <input type="hidden" name="id" value="<%= user.id %>">
  <input type="hidden" name="username" value="<%= user.username %>">
  <div class="row">
    <div class="input-field col s3">
      <i class="fa fa-lock prefix"></i>
      <input id="password_current" name="password_current" type="password" class="validate">
      <label for="password_current">Password actual</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <i class="fa fa-lock prefix"></i>
      <input id="password" name="password" type="password" class="validate">
      <label for="password">Nuevo Password</label>
    </div>
    <div class="input-field col s3">
      <i class="fa fa-lock prefix"></i>
      <input id="password_again" name="password_again" type="password" class="validate">
      <label for="password_again">Repita nuevo Password</label>
    </div>
  </div>
  <div class="row" style="margin-top: -28px;">
    <div class="input-field col s12">
      <button type="submit" class="btn blue lighten-2">
        <i class="fa fa-floppy-o"></i> Guardar
      </button>
    </div>
  </div>
</form>
